*.env
# General ignores
.DS_Store
node_modules/
dist/
out/
cache/
/reporter/node_modules/
/reporter/.env.tmp

# Foundry
foundry.lock

# TypeScript
tsconfig.tsbuildinfo

# Next.js
.next/
*.next/
frontend/.next/
